body {
  background-color: lightyellow;
}

#title {
  text-align: center;
  color: rgb(204,0,0);
  font-family: "times new roman", palatino linotype, athena, tahoma;
  font-size: 12pt;
  font-weight:bold;
  margin-top:30px;
  margin-bottom:12;
}

h3 {
  text-transform: uppercase;
}

.chapter {
  text-align: center;
  color: red;
  margin-top: 30px;
  margin-bottom:12px;
  font-weight: 700;
}

.emphased {
  font-style: italic;
}
